/*===================================*
  01. GENERAL STYLE
 *===================================*/

@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body {
	background: #ffffff none repeat scroll 0 0;
	color: #7a7a7a;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #20126f;
}

p {
	color: #7a7a7a;
	margin-bottom: 30px;
}

a {
	color: #20126f;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all .5s ease;
}

a:hover {
	color: #fff;
	text-decoration: none;
	transition: all .5s ease;
}

a:focus {
	outline: none;
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
}

.form-control::-webkit-input-placeholder {
	color: #7ab9ff;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.form-control:-moz-placeholder {
	color: #7ab9ff;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.form-control::-moz-placeholder {
	color: #7ab9ff;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.form-control:-ms-input-placeholder {
	color: #7ab9ff;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}

section {
	padding: 100px 0;
	position: relative;
}

.no-padding {
	padding: 0
}

section.small_pt {
	padding-top: 50px;
}

section.small_pb {
	padding-bottom: 50px;
}

.list_none li {
	list-style: none;
}

input {
	border: 0;
	padding: 10px 20px;
	width: 100%;
}

button {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	border: 0;
	border-radius: 40px;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}

button:hover {
	color: #fff;
}

button:focus {
	outline: none;
}

.title_light h2, .title_dark h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.title_light span, .title_dark span {
	color: #7ab9ff;
	display: block;
	font-weight: 500;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.title_light h2, .title_light p {
	color: #fff;
}

.divider {
	clear: both;
	display: block;
	height: 20px;
}

.bg_blue_dark {
	background-color: #0d2476;
}

.bg_black_dark {
	background-color: #000;
}

.bg_blue {
	background-color: #142bac;
}

.bg_blue_dark_pro {
	background-color: #041b9c;
}

.large_divider {
	height: 100px;
}

.small_divider {
	height: 50px;
}

.small_space {
	margin-top: 20px;
}

.large_space {
	margin-top: 50px;
}

.container {
	position: relative;
	z-index: 5;
}

.animation, .staggered-animation {
	visibility: hidden;
}

.v_light .title_light span, .v_light .title_dark span {
	color: #fff;
}

.v_light .form-control::-webkit-input-placeholder {
	color: #fff;
}

.v_light .form-control:-moz-placeholder {
	color: #fff;
}

.v_light .form-control::-moz-placeholder {
	color: #fff;
}

.v_light .form-control:-ms-input-placeholder {
	color: #fff;
}

.v_dark .title_light span, .v_dark .title_dark span, .v_dark_light .title_light span, .v_dark_light .title_dark span {
	color: #167710;
}

.v_dark_light .title_dark h2 {
	color: #167710;
}

/*START LOADER DESIGN*/

.preloader {
	background-color: #0d469f;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	vertical-align: middle;
	z-index: 99999;
}

#g-spinner {
	position: relative;
	margin: 0 auto;
	height: 150px;
	margin: -100px auto 0;
	top: 50%;
	width: 150px;
	border-radius: 50%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

#g-spinner.loading {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-webkit-transition: 1s ease-in-out all;
	transition: 1s ease-in-out all;
	-webkit-animation: rotate 2s cubic-bezier(.465, .183, .153, .946) infinite;
	animation: rotate 2s cubic-bezier(.465, .183, .153, .946) infinite
}

#g-spinner>.circle {
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%
}

#g-spinner.loading>.circle.c1 {
	left: 60px;
	top: 5px;
	background: #fff;
	-webkit-animation: c1Center 4s cubic-bezier(.645, .045, .355, 1) infinite;
	animation: c1Center 4s cubic-bezier(.645, .045, .355, 1) infinite
}

#g-spinner.loading>.circle.c2 {
	left: 5px;
	top: 60px;
	background: #167710;
	-webkit-animation: c2Center 4s cubic-bezier(.645, .045, .355, 1) infinite;
	animation: c2Center 4s cubic-bezier(.645, .045, .355, 1) infinite
}

#g-spinner.loading>.circle.c3 {
	left: 60px;
	bottom: 5px;
	background: #fff;
	-webkit-animation: c3Center 4s cubic-bezier(.645, .045, .355, 1) infinite;
	animation: c3Center 4s cubic-bezier(.645, .045, .355, 1) infinite
}

#g-spinner.loading>.circle.c4 {
	right: 5px;
	top: 60px;
	background: #167710;
	-webkit-animation: c4Center 4s cubic-bezier(.645, .045, .355, 1) infinite;
	animation: c4Center 4s cubic-bezier(.645, .045, .355, 1) infinite
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes c1Center {
	0% {
		top: 5px;
		background: #fff
	}
	24% {
		background: #fff
	}
	24% {
		background: #fff
	}
	25% {
		background: #fff;
		top: 60px
	}
	50% {
		background: #fff;
		top: 5px
	}
	55% {
		background: #fff;
		top: 5px
	}
	74% {
		background: #fff
	}
	75% {
		background: #fff;
		top: 60px
	}
	100% {
		background: #fff;
		top: 5px
	}
}

@keyframes c1Center {
	0% {
		top: 5px;
		background: #fff
	}
	24% {
		background: #fff
	}
	24% {
		background: #fff
	}
	25% {
		background: #fff;
		top: 60px
	}
	50% {
		background: #fff;
		top: 5px
	}
	55% {
		background: #fff;
		top: 5px
	}
	74% {
		background: #fff
	}
	75% {
		background: #fff;
		top: 60px
	}
	100% {
		background: #fff;
		top: 5px
	}
}

@-webkit-keyframes c2Center {
	0% {
		background: #167710;
		left: 5px
	}
	24% {
		background: #167710
	}
	25% {
		background: #167710;
		left: 60px
	}
	50% {
		background: #167710;
		left: 5px
	}
	55% {
		background: #167710;
		left: 5px
	}
	74% {
		background: #167710
	}
	75% {
		background: #167710;
		left: 60px
	}
	100% {
		background: #167710;
		left: 5px
	}
}

@keyframes c2Center {
	0% {
		background: #167710;
		left: 5px
	}
	24% {
		background: #167710
	}
	25% {
		background: #167710;
		left: 60px
	}
	50% {
		background: #167710;
		left: 5px
	}
	55% {
		background: #167710;
		left: 5px
	}
	74% {
		background: #167710
	}
	75% {
		background: #167710;
		left: 60px
	}
	100% {
		background: #167710;
		left: 5px
	}
}

@-webkit-keyframes c3Center {
	0% {
		background: #fff;
		bottom: 5px
	}
	24% {
		background: #fff
	}
	25% {
		background: #fff;
		bottom: 60px
	}
	50% {
		background: #fff;
		bottom: 5px
	}
	55% {
		background: #fff;
		bottom: 5px
	}
	74% {
		background: #fff
	}
	75% {
		background: #fff;
		bottom: 60px
	}
	100% {
		background: #fff;
		bottom: 5px
	}
}

@keyframes c3Center {
	0% {
		background: #fff;
		bottom: 5px
	}
	24% {
		background: #fff
	}
	25% {
		background: #fff;
		bottom: 60px
	}
	50% {
		background: #fff;
		bottom: 5px
	}
	55% {
		background: #fff;
		bottom: 5px
	}
	74% {
		background: #fff
	}
	75% {
		background: #fff;
		bottom: 60px
	}
	100% {
		background: #fff;
		bottom: 5px
	}
}

@-webkit-keyframes c4Center {
	0% {
		background: #167710;
		right: 5px
	}
	24% {
		background: #167710
	}
	25% {
		background: #167710;
		right: 60px
	}
	50% {
		background: #167710;
		right: 5px
	}
	55% {
		background: #167710;
		right: 5px
	}
	74% {
		background: #167710
	}
	75% {
		background: #167710;
		right: 60px
	}
	100% {
		background: #167710;
		right: 5px
	}
}

@keyframes c4Center {
	0% {
		background: #167710;
		right: 5px
	}
	24% {
		background: #167710
	}
	25% {
		background: #167710;
		right: 60px
	}
	50% {
		background: #167710;
		right: 5px
	}
	55% {
		background: #167710;
		right: 5px
	}
	74% {
		background: #167710
	}
	75% {
		background: #167710;
		right: 60px
	}
	100% {
		background: #167710;
		right: 5px
	}
}

.v_light .preloader {
	background-color: #f6f8ff;
}

.v_dark .preloader, .v_dark_light .preloader {
	background-color: #000;
}

.v_blue_pro .preloader {
	background-color: #00137d;
}

/*END PRELOADER DESIGN*/

/* THEME DEMO CSS*/

.color-switch {
	background: #212121;
	left: -200px;
	padding: 20px 0;
	position: absolute;
	top: 0;
	transition: all .4s ease 0s;
	width: 200px;
	z-index: 9999999;
}

.color-switch p {
	color: #ffffff;
	margin: 0;
	padding: 10px 20px;
}

.color_box {
	padding: 0px 20px;
}

.switch-active {
	left: 0;
}

.demo ul {
	position: fixed;
	left: 0px;
	top: 35%;
	z-index: 999;
}

.demo ul li {
	position: relative;
}

.demo li a {
	background: #212121;
	color: #ffffff;
	display: block;
	font-size: 24px;
	height: 40px;
	line-height: 44px;
	text-align: center;
	width: 40px;
	transition: all .4s ease 0s;
}

.demo li a.bg-green {
	background-color: #73e080;
}

.demo li a.dm {
	background-color: #ef7240;
}

.demo li a i {
	line-height: normal;
}

.icon {
	left: 0;
	position: absolute;
	top: 0;
}

.icon.switch-active {
	left: 200px;
}

.menu_link {
	left: 0;
	position: fixed;
	top: 30%;
	z-index: 99;
}

.menu_link a {
	color: #fff;
	padding: 10px;
}

.color-switch button::after {
	color: #ffffff;
	content: "\f122";
	font-family: "Ionicons";
	font-size: 16px;
	left: 8px;
	opacity: 0;
	position: absolute;
	top: 5px;
}

.color-switch button {
	border: 0 none;
	border-radius: 3px;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
	margin: 2px;
	padding: 0;
	position: relative;
	text-align: center;
	width: 30px;
}

.color-switch .active::after {
	opacity: 1;
}

.default {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
}

.green {
	background: -webkit-linear-gradient(left, rgba(14, 156, 255, 1) 0%, rgba(64, 248, 166, 1) 99%);
	background: linear-gradient(to right, rgba(14, 156, 255, 1) 0%, rgba(64, 248, 166, 1) 99%);
}

.orange {
	background: -webkit-linear-gradient(left, rgba(238, 168, 73, 1) 0%, rgba(244, 107, 69, 1) 99%);
	background: linear-gradient(to right, rgba(238, 168, 73, 1) 0%, rgba(244, 107, 69, 1) 99%);
}

.pink {
	background: -webkit-linear-gradient(left, rgba(59, 82, 255, 1) 0%, rgba(207, 5, 213, 1) 99%);
	background: linear-gradient(to right, rgba(59, 82, 255, 1) 0%, rgba(207, 5, 213, 1) 99%);
}

.lightpink {
	background: -webkit-linear-gradient(left, rgba(255, 103, 203, 1) 0%, rgba(255, 204, 103, 1) 99%);
	background: linear-gradient(to right, rgba(255, 103, 203, 1) 0%, rgba(255, 204, 103, 1) 99%);
}

.lightblue {
	background: -webkit-linear-gradient(left, rgba(183, 33, 255, 1) 0%, rgba(33, 212, 253, 1) 99%);
	background: linear-gradient(to right, rgba(183, 33, 255, 1) 0%, rgba(33, 212, 253, 1) 99%);
}

.lightgreen {
	background: -webkit-linear-gradient(left, rgba(222, 147, 75, 1) 0%, rgba(86, 214, 167, 1) 99%);
	background: linear-gradient(to right, rgba(222, 147, 75, 1) 0%, rgba(86, 214, 167, 1) 99%);
}

.lightred {
	background: -webkit-linear-gradient(left, rgba(47, 170, 171, 1) 0%, rgba(236, 67, 90, 1) 99%);
	background: linear-gradient(to right, rgba(47, 170, 171, 1) 0%, rgba(236, 67, 90, 1) 99%);
}

.blue-pro {
	background: -webkit-linear-gradient(left, rgba(29, 106, 255, 1) 0%, rgba(70, 214, 255, 1) 99%);
	background: linear-gradient(to right, rgba(29, 106, 255, 1) 0%, rgba(70, 214, 255, 1) 99%);
}

/* BTN START */

.btn {
	border: 0 none;
	border-radius: 40px;
	font-size: 16px;
	height: 54px;
	line-height: 54px;
	padding: 0 25px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
}

.btn span {
	background-color: #ffffff;
	border-radius: 100%;
	color: #7459a6;
	display: inline-block;
	font-size: 24px;
	height: 42px;
	line-height: 46px;
	margin-left: -20px;
	margin-right: 10px;
	margin-top: -1px;
	text-align: center;
	vertical-align: middle;
	width: 42px;
	transition: all .5s ease 0s;
}

.btn:hover span {
	color: #25b8d5;
}

.btn.active.focus, .btn.active:focus, .btn.active:hover, .btn:active:focus, .btn:active:hover, .btn.active, .btn:active, .btn.focus:active, .btn:focus, .btn.active:not(:disabled):not(.disabled), .btn:active:not(:disabled):not(.disabled) {
	box-shadow: none;
	outline: none;
}

.btn-default {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	border: 0;
	color: #fff;
	outline: none;
	text-transform: uppercase;
	z-index: 2;
}

.btn-default:hover, .btn-border:hover {
	color: #fff;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active:focus, .btn-default:active:hover, .btn-default.active, .btn-default:active, .btn-default.focus:active, .btn-default:focus, .btn.active:not(:disabled):not(.disabled), .btn:active:not(:disabled):not(.disabled) {
	background: -webkit-linear-gradient(left, rgba(37, 184, 213, 1) 0%, rgba(117, 88, 165, 1) 99%);
	background: linear-gradient(to right, rgba(37, 184, 213, 1) 0%, rgba(117, 88, 165, 1) 99%);
	box-shadow: none;
	color: #fff;
	outline: none;
}

.btn-default::before {
	background: -webkit-linear-gradient(left, rgba(37, 184, 213, 1) 0%, rgba(117, 88, 165, 1) 99%);
	background: linear-gradient(to right, rgba(37, 184, 213, 1) 0%, rgba(117, 88, 165, 1) 99%);
	border-radius: 40px;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: -1;
}

.btn-default:hover:before {
	opacity: 1;
}

.btn-border {
	background: rgb(5, 125, 0);
	background: linear-gradient(90deg, rgba(5, 125, 0, 1) 0%, rgba(65, 102, 62, 0.9472163865546218) 100%);
	border: 0;
	color: #fff;
	outline: none;
	text-transform: uppercase;
	z-index: 2;
}

.btn-border::after {
	background-color: #103f98;
	border-radius: 40px;
	bottom: 0;
	content: "";
	left: 0;
	margin: 2px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease 0s;
	z-index: -1;
}

.btn-border:hover:after {
	opacity: 0;
}

.btn i {
	font-size: 30px;
	line-height: 24px;
	margin-left: 5px;
	padding-top: 4px;
	vertical-align: middle;
}

.btn-secondary {
	background-color: rgba(0, 0, 0, 0);
	border: 2px solid #ffffff;
	line-height: 50px;
}

.btn-secondary:hover, .btn-secondary.active.focus, .btn-secondary.active:focus, .btn-secondary.active:hover, .btn-secondary:active:focus, .btn-secondary:active:hover, .btn-secondary.active, .btn-secondary:active, .btn-secondary.focus:active, .btn-secondary:focus, .btn-secondary.active:focus:not(:disabled):not(.disabled), .btn-secondary:active:focus:not(:disabled):not(.disabled), .show>.btn-secondary.dropdown-toggle:focus, .btn-secondary.active:not(:disabled):not(.disabled), .btn-secondary:active:not(:disabled):not(.disabled) {
	background: #ffffff;
	border-color: #ffffff;
	color: #000000;
	box-shadow: none;
	outline: none;
}

.scrollup {
	background-color: #333333;
	border-radius: 100%;
	bottom: 20px;
	color: #ffffff;
	font-size: 30px;
	height: 50px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 50px;
	z-index: 99;
}

.scrollup:hover {
	background-color: #ff880e;
	color: #fff;
}

.scrollup:focus {
	color: #fff;
}

.btn+.btn:last-child {
	margin-left: 10px;
}

.shape {
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 808px;
	left: 0;
	position: absolute;
	top: 100px;
	width: 242px;
	z-index: -1;
}

.shap1 {
	background-image: url("../images/shape1.png");
	background-position: right center;
	bottom: 100px;
	left: auto;
	right: 0;
	top: auto;
}

.shap2 {
	background-image: url("../images/shape2.png");
	background-position: left center;
}

.shap3 {
	background-image: url("../images/shape3.png");
	background-position: left center;
}

.shap4 {
	background-image: url("../images/shape4.png");
	background-position: left center;
}

.shap5 {
	background-image: url("../images/shape5.png");
	background-position: right center;
	bottom: 100px;
	left: auto;
	right: 0;
	top: auto;
}

.shap6 {
	background-image: url("../images/shape6.png");
	background-position: left center;
}

.rounded_shape {
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	height: 402px;
	left: 0;
	position: absolute;
	top: 0px;
	width: 494px;
	z-index: 1;
}

.rounded_shape1 {
	background-image: url("../images/rounded-shape1.png");
	background-position: left top;
}

.rounded_shape2 {
	background-image: url("../images/rounded-shape2.png");
	background-position: right bottom;
	bottom: 0;
	left: auto;
	right: 0;
	top: auto;
}

.light_rounded_shape3 {
	background-image: url("../images/light_rounded-shape3.png");
	background-position: left top;
}

.light_rounded_shape4 {
	background-image: url("../images/light_rounded-shape4.png");
	background-position: right bottom;
	bottom: 0;
	left: auto;
	right: 0;
	top: auto;
}

.light_rounded_shape5 {
	background-image: url("../images/light_rounded-shape5.png");
	background-position: right bottom;
	bottom: 0;
	left: auto;
	right: 0;
	top: auto;
}

.v_light .btn-default, .v_light .btn-default:hover {
	color: #fff;
}

.v_light .btn-border {
	color: #20126f;
}

.v_light .btn-border:hover {
	color: #fff;
}

.v_light .btn-border::after {
	background-color: #f6f8ff;
}

.light_rounded_shape1 {
	background-image: url("../images/light_rounded-shape1.png");
	background-position: left top;
}

.light_rounded_shape2 {
	background-image: url("../images/light_rounded-shape2.png");
	background-position: right bottom;
	bottom: 0;
	left: auto;
	right: 0;
	top: auto;
}

.v_dark .btn-border::after, .v_dark_light .btn-border::after {
	background-color: #000;
}

.v_blue_pro .btn-border::after {
	background-color: #06127A;
}

/* BTN END */

/*===================================*
  01.END GENERAL STYLE
*===================================*/

/*===================================*
02. START HEADER DESIGN
*===================================*/

header {
	height: 110px;
	padding: 25px 0;
	transition: all 0.4s ease 0s;
}

.navbar {
	padding: 0;
}

.modal-open header.fixed-top {
	padding: 5px 0 !important;
}

.nav-fixed, header.active {
	background-color: #0F3E97;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

header.nav-fixed {
	height: 70px;
	padding: 5px 0;
}

header.no-sticky {
	position: absolute;
}

header a {
	color: #ffffff;
}

header a:hover, .navbar-nav li a.active {
	color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding: 0 10px;
}

.nav_btn li {
	margin-left: 10px;
}

.navbar-expand-lg .navbar-nav.nav_btn a {
	height: auto;
	line-height: normal;
	padding: 10px 25px;
}

.logo_dark, .v_light .logo_light {
	display: none;
}

.v_light .logo_dark {
	display: block;
}

.v_light header a {
	color: #20126f;
}

.v_light .nav-fixed, .v_light header.active {
	background-color: #f6f8ff;
}

.v_light header a:hover, .v_light .navbar-nav li a.active {
	color: #fff;
}

.v_dark .nav-fixed, .v_dark header.active, .v_dark_light .nav-fixed, .v_dark_light header.active {
	background-color: #3E3E3E;
}

.v_blue_pro .nav-fixed, .v_blue_pro header.active {
	background-color: #00036d;
}

/*===================================*
02. END HEADER DESIGN
*===================================*/

/*===================================*
03. BANNER SECTION
*===================================*/

.banner_section {
	background-color: #0d469f;
	padding: 200px 0;
	position: relative;
	z-index: 0;
}

.banner_full_height {
	min-height: 100vh;
}

.banner_text h1 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner_text h1 span {
	color: #fff;
}

.banner_text h3 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 20px;
}

.banner_text p {
	color: #fff;
}

.banner_image_right {
	min-width: 690px;
}

.banner_image_left {
	left: -25%;
	min-width: 690px;
	position: relative;
}

.banner_btn .btn {
	display: inline-block;
}

.section_wave {
	background-position: left top;
	bottom: 0;
	height: 100px;
	left: 0;
	position: absolute;
	right: 0;
}

.section_wave2 {
	background-position: center bottom;
	height: 110px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.banner_effect {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.banner_section .tk_countdown {
	background-color: RGBA(15, 62, 151, 0.6);
	max-width: 480px;
	;
	margin: 0 auto;
}

.banner_section .tk_counter_inner {
	border: 0;
}

.banner_section .counter_box .tk_counter {
	border: 1px solid RGBA(255, 255, 255, 0.2);
	border-radius: 10px;
}

.progress, .progress-bar {
	border-radius: 20px;
}

.progress {
	background-color: #fff;
	position: relative;
	height: 40px;
	overflow: visible;
	margin-top: 60px;
	margin-bottom: 15px;
}

.progress-bar {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	line-height: 30px;
	font-weight: bold;
	border: 5px solid #fff;
	box-shadow: 0 0 0 0;
}

.token_box .progress-bar-success {
	background-color: #05B5FF;
}

.progress .progress_label {
	position: absolute;
	top: -8px;
	bottom: -8px;
	width: 1px;
	background-color: silver;
	line-height: 1;
	color: #fff;
}

.progress .progress_label strong {
	position: absolute;
	left: 50%;
	bottom: 100%;
	margin-bottom: 10px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	font-weight: normal;
}

.progress_max_val {
	position: absolute;
	top: 0;
	right: 0;
	float: right;
	font-size: 12px;
	font-weight: bold;
	line-height: 40px;
	padding: 0 15px;
}

.banner_shape_effect {
	overflow: hidden;
}

.banner_shape_effect::before {
	background: -webkit-linear-gradient(to right, #0c1277 0%, #1d6aff 450%) repeat scroll 0 0;
	background: linear-gradient(to right, #0c1277 0%, #1d6aff 450%) repeat scroll 0 0;
	border-radius: 270px 270px 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	-moz-transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
	width: 44%;
	z-index: 0;
}

.banner_shape_effect::after {
	background: -webkit-linear-gradient(to right, #0c1277 0%, #1d6aff 300%) repeat scroll 0 0;
	background: linear-gradient(to right, #0c1277 0%, #1d6aff 300%) repeat scroll 0 0;
	border-radius: 150px 320px 390px 250px;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.3;
	position: absolute;
	top: 0;
	-moz-transform: skew(-25deg);
	-webkit-transform: skew(-25deg);
	transform: skew(-25deg);
	width: 30%;
}

.section_gradiant {
	background: rgb(41, 41, 41);
	background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.section_gradiant2 {
	background: rgb(41, 41, 41);
	background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.section_gradiant3 {
	background: rgb(41, 41, 41);
	background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.section_gradiant_dark {
	background: rgb(41, 41, 41);
	background: linear-gradient(180deg, rgba(41, 41, 41, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.section_light_bg {
	background-color: #f6f8ff;
}

.how_work .shape {
	bottom: auto;
	top: 0;
}

.v_light .banner_text h1, .v_light .banner_text h3 {
	color: #20126f;
}

.v_light .banner_text p, .v_light .progress .progress_label {
	color: #7a7a7a;
}

.v_blue {
	background-color: #0d469f;
}

.v_dark {
	background-color: #000;
}

.v_blue_pro .banner_section .tk_countdown {
	background-color: rgba(20, 43, 172, 0.5);
}

/*===================================*
03. END BANNER SECTION
*===================================*/

/*===================================*
04. HOW IT WORKS SECTION
*===================================*/

.how_work {
	background-position: center center;
	background-size: cover;
	position: relative;
}

.work_box {
	float: left;
	margin-top: 30px;
	padding-left: 30px;
	width: 50%;
}

.work_box:nth-child(-n+2) {
	margin: 0;
}

.box_inner {
	background-color: #fff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	padding: 20px 25px;
}

.work_box:nth-child(2n) {
	position: relative;
	top: 150px;
}

.work_box:nth-child(2n+1) {
	clear: both;
}

.box_inner h4 {
	color: #7a7a7a;
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}

.box_inner p {
	margin: 0;
}

.box_inner i {
	color: #fff;
	font-size: 50px;
}

.v_blue .box_inner {
	background-color: #0f3e97;
}

.v_blue .benefit_box {
	background-color: #0f3e97;
}

.v_blue .box_inner h4, .v_blue .box_inner p, .v_blue .box_inner i {
	color: #fff;
}

.v_dark .box_inner {
	background-color: #3E3E3E;
}

.v_dark .benefit_box, .section_gradiant_dark .benefit_box {
	background-color: #3E3E3E;
}

.v_dark .box_inner h4, .v_dark .box_inner p, .v_dark .box_inner i {
	color: #fff;
}

/*===================================*
04. END HOW IT WORKS SECTION
*===================================*/

/*===================================*
05. ABOUT SECTION
*===================================*/

.benefit_box {
	background-color: #023780;
	border-radius: 10px;
	padding: 15px 5px;
}

.benefit_box h6 {
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 10px;
}

/*===================================*
05. END ABOUT SECTION
*===================================*/

/*===================================*
06. TOKEN SECTION
*===================================*/

.section_token {
	position: relative;
}

.pr_box h6 {
	color: #7ab9ff;
	text-transform: uppercase;
}

.pr_box p {
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	margin: 0;
	text-transform: uppercase;
}

.pr_box {
	background-color: #fff;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 15px;
	padding: 20px;
}

.tk_countdown_time {
	margin: 15px 0;
}

.tk_countdown {
	background-color: #023780;
	background-position: right bottom;
	background-repeat: no-repeat;
	padding: 10px;
}

.countdown_shape {
	background-image: url("../images/counter_bg.png");
}

.tk_counter_inner {
	border: 1px solid #ffffff;
	padding: 25px;
}

.counter_box {
	color: #fff;
	display: inline-block;
	width: 25%;
}

.counter_box .tk_counter {
	border: 1px solid #ffffff;
	display: block;
	font-size: 36px;
	font-weight: 500;
	margin: 0 5px;
	padding: 20px 5px;
}

.counter_box .tk_text {
	display: block;
	font-size: 14px;
	font-weight: 500;
	margin-top: 10px;
	text-transform: uppercase;
}

.tk_countdown .btn {
	margin: 15px 0;
}

.pie_chart_icon img {
	display: table;
	left: 0;
	margin: 0 auto;
	padding: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: -1;
}

.token_chart {
	position: relative;
}

.chart_list li {
	background-color: #fff;
	border-left: 3px solid #7a7a7a;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	font-weight: 500;
	margin-bottom: 12px;
	padding: 7px 15px;
	text-transform: capitalize;
}

.chart_list li:last-child {
	margin: 0;
}

.chart_list .color1 {
	border-color: #ff7876;
}

.chart_list .color2 {
	border-color: #36ffad;
}

.chart_list .color3 {
	border-color: #3b8a99;
}

.chart_list .color4 {
	border-color: #13afcc;
}

.chart_list .color5 {
	border-color: #cc1667;
}

.chart_list .color6 {
	border-color: #F91F64;
}

.chart_list .color7 {
	border-color: #B23AF8;
}

.token_wrap {
	background-color: #142BAC;
	border-radius: 7px;
	padding: 20px;
}

.token_inner h5 {
	color: #ffffff;
	display: inline-block;
}

.social_icon, .social_icon li {
	display: inline-block;
}

.social_icon li {
	margin-left: 5px;
}

.social_icon li:first-child {
	margin-left: 0px;
}

.social_icon li a {
	color: #ffffff;
	font-size: 20px;
}

.tk_sale_info {
	border-left: 1px solid #ffffff;
	margin-top: 45px;
	padding-left: 30px;
}

.tk_pricing_info h6 {
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
}

.tk_pricing_info h5 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 5px;
	margin-top: 10px;
}

.tk_pricing_info p {
	color: #ffffff;
	font-size: 14px;
}

.tk_pricing_info span {
	color: #93ffa0;
}

.tk_pricing_info li img {
	border-radius: 100%;
	height: 18px;
	margin-right: 7px;
	width: 18px;
}

.tk_pricing_info li {
	color: #ffffff;
	font-size: 14px;
}

.token_chart_info {
	padding-left: 30px;
}

.token_chart_info h5 {
	color: #ffffff;
	margin-bottom: 20px;
}

.chart_info li {
	color: #ffffff;
	font-size: 14px;
	margin-top: 5px;
}

.cl_circle {
	background-color: #000000;
	border-radius: 100%;
	display: inline-block;
	height: 10px;
	margin-right: 5px;
	width: 10px;
}

.color1 {
	background-color: #0053ce;
}

.color2 {
	background-color: #d5b631;
}

.color3 {
	background-color: #d26288;
}

.color4 {
	background-color: #00e2f4;
}

.color5 {
	background-color: #444acc;
}

.v_light .pr_box h6 {
	color: #fff;
}

.v_light .tk_countdown {
	background-color: #f6f8ff;
}

.v_light .counter_box {
	color: #20126f;
}

.v_light .counter_box .tk_counter {
	border-color: #20126f;
}

.v_light .tk_counter_inner {
	border: 1px solid #20126f;
}

.v_light .countdown_shape {
	background-image: url("../images/light_counter_bg.png");
}

.v_blue .pr_box, .v_blue .tk_countdown, .v_blue .chart_list li {
	background-color: #0f3e97;
}

.v_blue .pr_box p, .v_blue .chart_list li {
	color: #fff;
}

.v_dark .pr_box, .v_dark .tk_countdown, .v_dark_light .tk_countdown, .v_dark .chart_list li {
	background-color: #3E3E3E;
}

.v_dark .pr_box h6, .v_dark_light .pr_box h6 {
	color: #167710;
}

.v_dark .pr_box p, .v_dark .chart_list li {
	color: #fff;
}

.v_dark .countdown_shape, .v_dark_light .countdown_shape {
	background-image: url("../images/light_counter_bg2.png");
}

/*===================================*
06. END TOKEN SECTION
*===================================*/

/*===================================*
07. TIMELINE SECTION
*===================================*/

.current_map {
	background-color: #13960B!important;
}

.roadmap {
	position: relative;
	display: block;
}

.roadmap_box {
	margin-top: 120px;
	position: relative;
	text-align: center;
}

.roadmap.gradient_box {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.roadmap::before {
	background-color: #fff;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	top: 15px;
	width: 100%;
}

.roadmap_icon {
	background-color: rgba(0, 0, 0, 0);
	height: 31px;
	left: 0;
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -120px;
	transform: rotate(-60deg) skewY(30deg);
	width: 27px;
}

.roadmap_icon.icon_gradient_box::before {
	background-image: url('../images/Y.png')!important;
	background-size: contain!important;
	background-repeat: no-repeat;
}

.roadmap_icon::before {
	color: #ffffff;
	content: " ";
	display: block;
	font-size: 28px;
	font-weight: 700;
	height: inherit;
	transform: skewY(-30deg) rotate(60deg) translate(0%);
	width: inherit;
}

.rd_complete .roadmap_icon::before {
	background-image: url('../images/X.png')!important;
	background-size: contain!important;
	background-repeat: no-repeat;
	font-family: ionicons;
	font-size: 16px;
	font-weight: normal;
}

.roadmap_inner::before {
	background-image: url('../images/X.png')!important;
	content: "";
	height: 94px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -100px;
	width: 3px;
}

.roadmap_inner::after {
	background: #fff none repeat scroll 0 0;
	border: 2px solid #ffffff;
	border-radius: 100%;
	content: "";
	height: 15px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	top: -6px;
	width: 15px;
	z-index: -1;
}

.roadmap_inner {
	background-color: #fff;
	border-radius: 10px;
	padding: 20px;
}

.roadmap_box h6 {
	color: #ffffff;
}

.roadmap_box p {
	color: #ffffff;
	font-size: 14px;
	line-height: 26px;
	margin: 0;
}

.roadmap .owl-prev, .roadmap .owl-next {
	position: absolute;
	top: 0;
}

.roadmap .owl-prev {
	left: -33px;
}

.roadmap .owl-next {
	right: -33px;
}

.roadmap .owl-nav i {
	background-color: #fff;
	border-radius: 100%;
	color: #ffffff;
	display: block;
	font-size: 26px;
	height: 33px;
	line-height: 37px;
	text-align: center;
	width: 33px;
}

.roadmap .owl-prev i {
	padding-right: 3px;
}

.roadmap .owl-next i {
	padding-left: 3px;
}

.roadmap .owl-nav .disabled {
	cursor: default;
}

.roadmap .owl-nav .disabled i {
	background-color: #1C88BD;
	color: #9FB3D7;
}

.timeline_wrap {
	margin-top: 20px;
	padding-top: 30px;
	position: relative;
}

.timeline_wrap::before {
	background-color: #ffffff;
	bottom: 0;
	content: "";
	height: 100%;
	left: 50%;
	position: absolute;
	top: 0;
	width: 1px;
}

.timeline_block {
	display: inline-block;
	position: relative;
}

.timeline_icon {
	background-color: #ffffff;
	border-radius: 100%;
	font-size: 12px;
	height: 20px;
	left: 50%;
	line-height: 23px;
	position: absolute;
	text-align: center;
	top: 0;
	transform: translateX(-50%);
	width: 20px;
}

.timeline_content {
	position: relative;
	text-align: right;
	width: 47%;
}

.timeline_content h6, .timeline_content p {
	color: #ffffff;
}

.tm_date {
	color: #46d6ff;
	font-weight: 600;
	left: 113%;
	line-height: normal;
	position: absolute;
	text-align: left;
	top: -3px;
	width: 100%;
}

.timeline_block:nth-child(2n) .timeline_content {
	float: right;
	text-align: left;
}

.timeline_block:nth-child(2n) .tm_date {
	left: auto;
	right: 113%;
	text-align: right;
}

.timeline_icon.tm_complete {
	background-color: #73e080;
	color: #ffffff;
}

.v_blue .roadmap_inner::before, .v_blue .roadmap_inner::after, .v_blue .roadmap::before, .v_blue .roadmap_inner, .v_blue .roadmap .owl-nav i {
	background-color: #0f3e97;
}

.v_dark .roadmap_inner::before, .v_dark .roadmap_inner::after, .v_dark .roadmap::before, .v_dark .roadmap_inner, .v_dark .roadmap .owl-nav i, .v_dark_light .roadmap_inner::before, .v_dark_light .roadmap_inner::after, .v_dark_light .roadmap::before, .v_dark_light .roadmap_inner, .v_dark_light .roadmap .owl-nav i {
	background-color: #3E3E3E;
}

.v_dark .roadmap .owl-nav .disabled i, .v_dark_light .roadmap .owl-nav .disabled i {
	color: #999999;
}

/*===================================*
07. END TIMELINE SECTION
*===================================*/

/*===================================*
08. TEAM SECTION
*===================================*/

.team_info {
	background-color: #25b8d5;
	padding: 20px;
}

.gradient_box {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
}

.team_info h4 a {
	color: #ffffff;
	font-size: 22px;
	font-weight: bold;
}

.team_info p {
	color: #ffffff;
	line-height: normal;
	margin: 0;
}

.team_img {
	overflow: hidden;
	position: relative;
}

.team_img img {
	width: 100%;
}

.social_team {
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.social_team li {
	display: inline-block;
	opacity: 0;
	transform: translateY(130px);
	transition: all 0.5s ease 0s;
	visibility: hidden;
}

.team_img:hover .social_team li {
	opacity: 1;
	transform: translateY(0px);
	visibility: visible;
}

.social_team li:nth-child(2n) {
	transition: all 0.6s ease 0s;
}

.social_team li:nth-child(3n) {
	transition: all 0.8s ease 0s;
}

.social_team li:nth-child(4n) {
	transition: all 1s ease 0s;
}

.social_team a {
	background-color: #25b8d5;
	border-radius: 40px;
	color: #ffffff;
	display: block;
	font-size: 24px;
	height: 38px;
	line-height: 40px;
	position: relative;
	text-align: center;
	width: 38px;
	z-index: 1;
}

.social_team a:before {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	border-radius: 40px;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: all 0.5s ease 0s;
	width: 100%;
	z-index: -1;
}

.social_team a:hover:before {
	opacity: 1;
}

.mfp-bg {
	background: -webkit-linear-gradient(to bottom, rgba(32, 18, 111, 1) 10%, rgba(13, 70, 159, 1) 100%);
	background-image: linear-gradient(to bottom, rgba(32, 18, 111, 1) 10%, rgba(13, 70, 159, 1) 100%);
	opacity: 0.8;
}

.team_pop {
	background-color: #ffffff;
	border-radius: 4px;
	margin: 30px auto;
	max-width: 800px;
	padding: 10px;
	position: relative;
}

.social_single_team {
	margin-bottom: 10px;
}

.social_single_team li {
	display: inline-block;
	padding-right: 10px;
}

.social_single_team li a {
	color: #25b8d5;
}

.team_pop .title_dark h2 {
	margin-bottom: 10px;
}

.team_wrap .shap1, .team_wrap .shap5 {
	bottom: auto;
	top: 100px;
}

.team_wrap .shap2, .team_wrap .shap6 {
	bottom: 100px;
	top: auto;
}

.team_content {
	margin-top: 15px;
}

.team_bx {
	background-color: #142bac;
}

.team_image {
	padding-top: 15px;
}

.rounded-img img {
	border-radius: 100%;
}

.team_content h5 a {
	color: #46d6ff;
}

.team_content h5 {
	margin-bottom: 5px;
}

.team_content p {
	color: #ffffff;
	margin: 0;
}

.team_social {
	background-color: #00036d;
	margin-top: 10px;
	padding: 10px 15px;
}

.team_social li {
	display: inline-block;
}

.team_social li a {
	color: #ffffff;
	padding: 0 5px;
}

.team_social li a:hover {
	color: #46d6ff;
}

.v_blue .team_info {
	background-color: #0f3e97;
}

.v_blue .mfp-bg {
	background-color: #0d469f;
	background-image: none;
}

.v_dark .team_info, .v_dark_light .team_info {
	background-color: #3E3E3E;
}

.v_dark .mfp-bg, .v_dark_light .mfp-bg {
	background-color: #3E3E3E;
	background-image: none;
}

/*===================================*
08. END TEAM SECTION
*===================================*/

/*===================================*
09. FAQ SECTION
*===================================*/

.faq_content .card {
	border: 0 none;
	border-radius: 0;
	margin-bottom: 10px;
}

.faq_content .card:last-child {
	margin-bottom: 0px;
}

.faq_content .card-header {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
	padding: 0;
}

.faq_content .card-header a {
	background-color: #25b8d5;
	color: #ffffff;
	display: block;
	font-weight: 600;
	padding: 15px 40px 15px 15px;
}

.faq_content .card-body {
	padding: 10px 15px;
	position: relative;
	z-index: 1;
}

.faq_content .card {
	background-color: #25b8d5;
}

.faq_content .card-body::after {
	background-color: #ffffff;
	bottom: 1px;
	content: "";
	left: 1px;
	position: absolute;
	right: 1px;
	top: 0;
	z-index: -1;
}

.faq_content .card-header a::after {
	color: #ffffff;
	content: "";
	font-family: "Ionicons";
	font-size: 22px;
	font-weight: normal;
	position: absolute;
	right: 15px;
	top: 12px;
}

.faq_content .card-header a.collapsed:after {
	content: "\f217";
}

.faq_content .card-header a::before {
	content: "Q.";
	font-weight: 600;
	margin-right: 5px;
}

.card-body::before {
	content: "A.";
	font-weight: 600;
	margin-right: 5px;
}

.faq_box .card {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid #ffffff;
	margin-bottom: 10px;
}

.faq_box .card-header {
	background-color: rgba(0, 0, 0, 0);
	border: 0 none;
	padding: 0;
}

.faq_box .card-header a {
	color: #ffffff;
	display: block;
	font-weight: 600;
	padding: 15px 40px 15px 15px;
}

.faq_box .card-body {
	border-top: 1px solid #ffffff;
	color: #ffffff;
}

.faq_box .card-header a::after {
	color: #ffffff;
	content: "\f126";
	font-family: "Ionicons";
	font-size: 22px;
	font-weight: normal;
	position: absolute;
	right: 15px;
	top: 12px;
}

.faq_box .card-header a.collapsed:after {
	content: "\f123";
}

.faq_box .card-body::before {
	content: normal;
}

.v_blue .faq_content .card-body::after {
	background-color: #0f3e97;
}

.v_blue .faq_content .card-body, .v_dark .faq_content .card-body {
	color: #fff;
}

.v_blue .faq_content .card, .v_blue .faq_content .card-header a {
	background-color: #3E3E3E;
}

.v_dark .faq_content .card, .v_dark .faq_content .card-header a, .v_dark_light .faq_content .card, .v_dark_light .faq_content .card-header a {
	background-color: #3E3E3E;
}

.v_dark .faq_content .card-body::after {
	background-color: #3E3E3E;
}

/*===================================*
09. END FAQ SECTION
*===================================*/

/*===================================*
10. CLIENT SECTION
*===================================*/

.client_logo img {
	margin-top: 20px;
}

.client_logo .shape {
	height: 90vh;
	z-index: 1;
}

/*===================================*
10. END CLIENT SECTION
*===================================*/

/*===================================*
11. CONTACT SECTION
*===================================*/

.form_field input, .form_field textarea {
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid #7ab9ff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 0;
	color: #7ab9ff;
	padding: 10px 0;
}

.form_field input:focus, .form_field textarea:focus {
	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px solid #7ab9ff;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	box-shadow: none;
	color: #7ab9ff;
	outline: 0 none;
}

.form_field textarea {
	resize: none;
}

.form_field input[required="required"] {
	box-shadow: none;
	outline: medium none;
}

.contact_detail {
	border-left: 1px solid #ffffff;
	padding-left: 10px;
}

.contact_info li {
	margin-bottom: 25px;
}

.contact_info li:last-child {
	margin-bottom: 0px;
}

.contact_info li i {
	color: #ffffff;
	font-size: 26px;
	text-align: center;
	width: 40px;
}

.contact_detail span {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
}

.contact_detail p {
	color: #ffffff;
	line-height: normal;
	margin: 0;
}

.alert-msg-failure {
	color: #ff0000;
	margin-top: 5px;
}

.alert-msg-success {
	color: #07AD00;
	margin-top: 5px;
}

.form_submit {
	text-align: right;
}

.contact_form input, .contact_form textarea {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 0;
	color: #fff;
	padding: 10px;
}

.contact_form textarea {
	height: 170px;
}

.contact_form input:focus, .contact_form textarea:focus {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: none;
	color: #ffffff;
	outline: 0 none;
}

.contact_form .form-control::-webkit-input-placeholder {
	color: #ffffff;
}

.contact_form .form-control:-moz-placeholder {
	color: #ffffff;
}

.contact_form .form-control::-moz-placeholder {
	color: #ffffff;
}

.contact_form .form-control:-ms-input-placeholder {
	color: #ffffff;
}

.con_info p {
	color: #fff;
	margin: 0;
}

.con_dt li {
	margin-bottom: 15px;
}

.con_dt i {
	background-color: #00036d;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 100%;
	color: #ffffff;
	font-size: 18px;
	height: 35px;
	line-height: 35px;
	margin-right: 10px;
	text-align: center;
	width: 35px;
}

.v_light .form_field input, .v_light .form_field textarea {
	border-color: #fff;
	color: #fff;
}

.v_light .contact_info li i {
	color: #fff;
}

.v_light .contact_detail {
	border-color: #fff;
}

.v_light .contact_detail p {
	color: #7a7a7a;
}

.v_dark .form-control::-webkit-input-placeholder {
	color: #ffffff;
}

.v_dark .form-control:-moz-placeholder {
	color: #ffffff;
}

.v_dark .form-control::-moz-placeholder {
	color: #ffffff;
}

.v_dark .form-control:-ms-input-placeholder {
	color: #ffffff;
}

.v_dark .form_field input, .v_dark .form_field textarea, .v_dark .form_field input:focus, .v_dark .form_field textarea:focus {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}

.v_dark_light .form-control::-webkit-input-placeholder {
	color: #ffffff;
}

.v_dark_light .form-control:-moz-placeholder {
	color: #ffffff;
}

.v_dark_light .form-control::-moz-placeholder {
	color: #ffffff;
}

.v_dark_light .form-control:-ms-input-placeholder {
	color: #ffffff;
}

.v_dark_light .form_field input, .v_dark_light .form_field textarea, .v_dark_light .form_field input:focus, .v_dark_light .form_field textarea:focus {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}

/*===================================*
11. END CONTACT SECTION
*===================================*/

/*===================================*
12. FOOTER SECTION
*===================================*/

.top_footer {
	position: relative;
}

.top_footer {
	border-top: 1px solid #3d5091;
	padding: 100px 0;
}

.footer_title {
	color: #ffffff;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 30px;
}

.newsletter_form form {
	position: relative;
}

.newsletter_form input {
	background-color: #0d2476;
	color: #ffffff;
}

.newsletter_form .outline_input {
	background: -webkit-linear-gradient(left, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	background: linear-gradient(to right, rgba(117, 88, 165, 1) 0%, rgba(37, 184, 213, 1) 99%);
	border-radius: 40px;
	bottom: 0;
	content: "";
	left: 0;
	padding: 2px;
	right: 0;
	top: 0;
}

.outline_input input {
	border-radius: 30px;
	height: 60px;
	padding-right: 37%;
	width: 100%;
}

.newsletter_form input::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

.newsletter_form input:-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.newsletter_form input::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.newsletter_form input:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

.newsletter_form input:focus {
	outline: none;
}

.newsletter_form button {
	position: absolute;
	right: 5px;
	top: 5px;
}

.newsletter_form+.footer_social {
	margin-top: 30px;
}

.newslattter_small {
	margin: 0 auto;
	max-width: 490px;
}

.footer_social li {
	display: inline-block;
	margin: 0 3px;
}

.footer_social li a {
	border: 2px solid #ffffff;
	border-radius: 100%;
	color: #ffffff;
	display: block;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 40px;
}

.footer_social li a:hover {
	background-color: #fff;
	border-color: transparent;
}

.bottom_footer {
	background-color: #0a1c5d;
	padding: 30px 0;
}

.copyright {
	color: #ffffff;
	font-size: 14px;
	margin: 0;
}

.footer_menu {
	text-align: right;
}

.footer_menu li {
	display: inline-block;
	margin-left: 10px;
}

.footer_menu li a, .footer_link a {
	color: #fff;
	font-size: 14px;
}

.footer_menu li a:hover, .footer_link a:hover {
	color: #fff;
}

.footer_link li {
	float: left;
	line-height: normal;
	margin-top: 10px;
	vertical-align: top;
	width: 50%;
}

.footer_link li:nth-child(-n+2) {
	margin-top: 0px;
}

.footer_link li:nth-child(2n+1) {
	padding-right: 15px;
}

.footer_desc {
	margin-top: 20px;
}

.footer_desc p {
	color: #ffffff;
	margin-bottom: 0;
}

.v_light .top_footer {
	border-top: 1px solid #d2d0e2;
}

.v_light .footer_title {
	color: #20126f;
}

.v_light .newsletter_form input {
	background-color: #ffffff;
	color: #7a7a7a;
}

.v_light .newsletter_form input::-webkit-input-placeholder {
	color: #7a7a7a;
}

.v_light .newsletter_form input:-moz-placeholder {
	color: #7a7a7a;
}

.v_light .newsletter_form input::-moz-placeholder {
	color: #7a7a7a;
}

.v_light .newsletter_form input:-ms-input-placeholder {
	color: #7a7a7a;
}

.v_light .footer_social li a {
	border: 2px solid #20126f;
	color: #20126f;
}

.v_light .footer_social li a:hover {
	background-color: #fff;
	border-color: transparent;
	color: #ffffff;
}

.v_light .footer_link a {
	color: #20126f;
}

.v_light .footer_link a:hover {
	color: #fff;
}

.v_dark .newsletter_form input, .v_dark_light .newsletter_form input {
	background-color: #000;
}

.v_dark .top_footer, .v_dark_light .top_footer {
	border-top: 1px solid #393c4c;
}

.v_dark .bottom_footer, .v_dark_light .bottom_footer {
	background-color: #000;
}

.v_blue_pro .newsletter_form input {
	background-color: #142bac;
}

.v_blue_pro .bottom_footer {
	background-color: #041b9c;
}

/*===================================*
12. END FOOTER SECTION
*===================================*/

/*===================================*
13. BLOG PAGE
*====================================*/

.blog_content {
	padding: 15px;
	margin-bottom: 40px;
}

.blog_title {
	font-weight: 600;
}

.blog_item {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.blog_meta {
	display: inline-block;
	width: 100%;
}

.blog_meta li {
	float: left;
	padding-right: 15px;
}

.blog_meta li:last-child {
	padding: 0;
}

.blog_content p {
	margin: 0;
}

.blog_img {
	overflow: hidden;
}

.blog_img img {
	zoom: 1;
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transform: scale(1);
	/* Standard Property */
	transition: all 0.5s ease 0s;
	width: 100%;
}

.blog_item:hover img {
	zoom: 1.1;
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	/* Standard Property */
}

.pagination li a {
	background-color: #002e87;
	color: #ffffff;
	display: block;
	font-size: 18px;
	line-height: normal;
	padding: 10px 22px;
}

.pagination li.active a, .pagination li a:hover {
	background-color: #001e77;
}

.pagination li:first-child a {
	border-radius: 5px 0 0 5px;
}

.pagination li:last-child a {
	border-radius: 0 5px 5px 0;
}

/*Sidebar Section*/

.sidebar_block {
	padding-left: 30px;
}

.form_search {
	position: relative;
}

.form_search input {
	border: 1px solid #dddddd;
	border-radius: 40px;
	padding-right: 45px;
}

.form_search button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-radius: 0;
	color: #999999;
	font-size: 22px;
	padding: 0;
	position: absolute;
	right: 20px;
	top: 12px;
}

.widget {
	margin-bottom: 30px;
}

.widget_title {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 15px;
	padding-bottom: 10px;
	position: relative;
}

.widget_title::before {
	background-color: #20126f;
	bottom: -2px;
	content: "";
	height: 3px;
	left: 0;
	position: absolute;
	width: 70px;
}

.widget_category li, .widget_archive li {
	margin-bottom: 5px;
}

.widget_category li a, .widget_archive li a {
	color: #7a7a7a;
	display: block;
	padding-left: 20px;
	position: relative;
}

.widget_category li a:hover, .widget_archive li a:hover {
	color: #fff;
}

.widget_category li a::before, .widget_archive li a:before {
	content: "\f30f";
	font-family: ionicons;
	left: 0;
	position: absolute;
	top: 0;
}

.widget-post-thumb {
	float: left;
}

.widget-post-thumb img {
	max-width: 100px;
}

.widget-post-content h6 {
	font-weight: 600;
}

.widget-post-content {
	overflow: hidden;
	padding-left: 10px;
}

.widget-post {
	border-bottom: 1px dashed #999999;
	display: inline-block;
	margin-top: 15px;
	padding-bottom: 15px;
	width: 100%;
}

.widget-date {
	font-size: 14px;
	line-height: normal;
}

.tags li {
	display: inline-block;
}

.tags li a {
	border: 1px solid #7a7a7a;
	border-radius: 40px;
	color: #7a7a7a;
	display: block;
	font-size: 14px;
	margin-top: 10px;
	padding: 5px 15px;
}

.tags li a:hover {
	border-color: #fff;
	color: #fff;
}

.widget_archive li a span {
	float: right;
}

/*Post Detail*/

.post_content p {
	margin-bottom: 20px;
}

.blog_content_detail .blog_content p:last-child {
	margin: 0;
}

.post_content {
	margin-top: 20px;
}

.social-share {
	display: inline-block;
	width: 100%;
}

.social-share li {
	float: left;
}

.social-share li a {
	background-color: #dddddd;
	border-radius: 100%;
	color: #ffffff;
	display: block;
	height: 35px;
	line-height: 36px;
	margin-right: 5px;
	text-align: center;
	width: 35px;
}

.social-share li a:hover {
	opacity: 0.7;
}

.social-share li.facebook a {
	background: #3b5999;
}

.social-share li.twitter a {
	background: #34CBFF;
}

.social-share li.google-plus a {
	background: #D14836;
}

.social-share li.pinterest a {
	background: #B30610;
}

.social-share li.linkedin a {
	background: #01669A;
}

.social-share li.reddit a {
	background: #6FC2FD;
}

.social-share li.tumblr a {
	background: #2D5770;
}

.comment_info {
	background-color: #f6f8ff;
	margin-top: 10px;
	padding: 30px;
}

.comment_info.reply {
	border-top: 1px solid #dddddd;
	margin: 0;
	padding-left: 90px;
}

.comment-area {
	margin-top: 30px;
}

.comment-title {
	margin-bottom: 30px;
}

.user_img img {
	border-radius: 100%;
	height: auto;
	max-width: 80px;
}

.comment_content {
	padding-left: 20px;
}

.meta_data h6 {
	margin-bottom: 0;
}

.comment-time {
	font-size: 14px;
	line-height: normal;
	margin-bottom: 8px;
}

.comment-reply i {
	margin-right: 5px;
}

.comment_content p {
	margin: 0;
}

.comment_list {
	margin-bottom: 30px;
}

.v_blue .blog_content, .v_blue .comment_info {
	background-color: #0f3e97;
}

.v_dark_light .blog_title, .v_dark_light .blog_title a, .v_dark_light .blog_meta li a, .v_dark_light .blog_content a, .v_dark_light .widget_title, .v_dark_light .widget-post-content h6 a, .v_dark_light .comment-title h5 {
	color: #1a1c34;
}

.v_blue .blog_title a, .v_blue .blog_meta a, .v_blue .blog_content p, .v_blue .blog_content a, .v_blue .widget_title, .v_blue .widget_category li a, .v_blue .widget_archive li a, .v_blue .widget-post-content h6 a, .v_blue .widget-date, .v_blue .tags li a, .v_blue .post_content p, .v_blue .comment-title h5, .v_blue .meta_data a, .v_blue .comment-time, .v_blue .comment-reply, .v_blue .comment_content p, .v_dark .blog_title a, .v_dark .blog_meta a, .v_dark .blog_content p, .v_dark .blog_content a, .v_dark .widget_title, .v_dark .widget_category li a, .v_dark .widget_archive li a, .v_dark .widget-post-content h6 a, .v_dark .widget-date, .v_dark .tags li a, .v_dark .post_content p, .v_dark .comment-title h5, .v_dark .meta_data a, .v_dark .comment-time, .v_dark .comment-reply, .v_dark .comment_content p, .v_dark_light .meta_data a, .v_dark_light .comment-time, .v_dark_light .comment_content p, .v_dark_light .comment-reply {
	color: #ffffff;
}

.v_blue .blog_title a:hover, .v_blue .blog_meta a:hover, .v_blue .blog_content a:hover, .v_blue .widget_category li a:hover, .v_blue .widget_archive li a:hover, .v_blue .widget-post-content h6 a:hover, .v_blue .tags li a:hover, .v_blue .meta_data a:hover, .v_blue .comment-reply:hover, .v_dark .tags li a:hover, .v_dark .blog_title a:hover, .v_dark .blog_meta a:hover, .v_dark .blog_content a:hover, .v_dark .widget_category li a:hover, .v_dark .widget_archive li a:hover, .v_dark .widget-post-content h6 a:hover, .v_dark .tags li a:hover, .v_dark .meta_data a:hover, .v_dark .comment-reply:hover, .v_dark_light .blog_title a:hover, .v_dark_light .blog_meta li a:hover, .v_dark_light .blog_content a:hover, .v_dark_light .widget-post-content h6 a:hover, .v_dark_light .meta_data a:hover, .v_dark_light .comment-reply:hover {
	color: #fff;
}

.v_blue .tags li a {
	border-color: #fff;
}

.v_blue .tags li a:hover {
	border-color: #fff;
}

.v_blue .widget_title::before {
	background-color: #ffffff;
}

.v_blue .comment_info.reply {
	border-top: 1px solid #001e77;
}

.v_dark .blog_content, .v_dark .comment_info, .v_dark_light .comment_info {
	background-color: #1a1c34;
}

.v_dark .comment_info.reply, .v_dark_light .comment_info.reply {
	border-top: 1px solid #000014;
}

.v_dark .tags li a {
	border-color: #fff;
}

.v_dark .tags li a:hover {
	border-color: #fff;
}

.v_dark .widget_title:before {
	background-color: #ffffff;
}

.v_dark_light .widget_title:before {
	background-color: #1a1c34;
}

.v_dark .pagination li a, .v_dark_light .pagination li a {
	background-color: #1a1c34;
}

.v_dark .pagination li.active a, .v_dark .pagination li a:hover, .v_dark_light .pagination li.active a, .v_dark_light .pagination li a:hover {
	background-color: #2a2c44;
}

.v_light .blog_content {
	background-color: #f6f8ff;
}

.v_light .pagination li a {
	background-color: #f6f8ff;
	color: #002e87;
}

.v_light .pagination li.active a, .v_light .pagination li a:hover {
	background-color: #e6e8ef;
}

.v_dark_light .comment-area .form_field input, .v_dark_light .comment-area .form_field textarea, .v_dark_light .comment-area .form_field input:focus, .v_dark_light .comment-area .form_field textarea:focus {
	border-color: #1a1c34;
	color: #1a1c34;
}

.v_dark_light .comment-area .form-control::-webkit-input-placeholder {
	color: #1a1c34;
}

.v_dark_light .comment-area .form-control:-moz-placeholder {
	color: #1a1c34;
}

.v_dark_light .comment-area .form-control::-moz-placeholder {
	color: #1a1c34;
}

.v_dark_light .comment-area .form-control:-ms-input-placeholder {
	color: #1a1c34;
}

/*===================================*
13. END BLOG PAGE
*====================================*/

/*===================================*
14. LOGIN PAGE
*====================================*/

.authorize_box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	max-width: 400px;
	padding: 35px;
}

.authorize_form input {
	border: 1px solid #c0c0c0;
	border-radius: 40px;
}

.authorize_form input#password-field {
	padding-right: 50px;
}

.authorize_form input:hover, .authorize_form input:focus {
	border-color: #999999;
}

.authorize_form button {
	width: 100%;
}

.checkbox_field input {
	display: none;
	width: auto;
}

.checkbox_field label {
	padding-left: 20px;
	cursor: pointer;
	font-size: 14px;
	margin: 0;
	position: relative;
}

.checkbox_field label::before {
	content: "\f372";
	font-family: ionicons;
	font-size: 18px;
	left: 0;
	line-height: normal;
	position: absolute;
	top: 5px;
}

.checkbox_field input:checked+label::before {
	content: "\f373";
}

.forgot_pass {
	float: right;
	font-size: 14px;
}

.authorize_form .form-group {
	position: relative;
}

.toggle-password {
	color: #999999;
	cursor: pointer;
	font-size: 26px;
	position: absolute;
	right: 15px;
	top: 12px;
}

.authorize_form .form-group:last-child {
	margin: 0;
}

.v_blue .authorize_box {
	background-color: #0f3e97;
}

.v_light .authorize_box {
	background-color: #f6f8ff;
}

.v_blue .checkbox_field label, .v_blue .forgot_pass, .v_blue .authorize_form .form-group span, .v_blue .authorize_form .form-group span a, .v_blue .authorize_form .form-group .checkbox_field label a, .v_dark .checkbox_field label, .v_dark .forgot_pass, .v_dark .authorize_form .form-group span, .v_dark .authorize_form .form-group span a, .v_dark .authorize_form .form-group .checkbox_field label a {
	color: #ffffff;
}

.v_blue .forgot_pass:hover, .v_blue .authorize_form .form-group span a:hover, .v_blue .authorize_form .form-group .checkbox_field label a:hover, .v_dark .forgot_pass:hover, .v_dark .authorize_form .form-group span a:hover, .v_dark .authorize_form .form-group .checkbox_field label a:hover {
	color: #fff;
}

.v_dark .authorize_box {
	background-color: #1a1c34;
}

.v_dark_light .forgot_pass, .v_dark_light .authorize_form .form-group span a {
	color: #1a1c34;
}

.v_dark_light .forgot_pass:hover, .v_dark_light .authorize_form .form-group span a:hover {
	color: #fff;
}

/*===================================*
14. LOGIN PAGE
*====================================*/

/*===================================*
15. MOBILE APP SECTION
*====================================*/

.app_btn li {
	display: inline-block;
	margin-right: 10px;
}

.app_btn li a span {
	color: #ffffff;
	font-size: 18px;
	margin-left: 5px;
}

.app_btn li a:hover span {
	color: #46d6ff;
}

.app_feature {
	margin-bottom: 30px;
}

.app_content p {
	color: #ffffff;
	margin-bottom: 15px;
}

.app_feature i {
	color: #46d6ff;
	font-size: 24px;
	margin-bottom: 15px;
}

.app_feature h5 {
	color: #ffffff;
	font-size: 18px;
}

/*===================================*
15. END MOBILE APP SECTION
*====================================*/

/*===================================*
16. WHITEPAPER SECTION
*====================================*/

.doc_box {
	background-color: #00036d;
	border-left: 3px solid #46d6ff;
	border-radius: 5px;
	padding: 10px;
}

.wp_document {
	margin-left: -10px;
	margin-right: -10px;
}

.wp_document li {
	float: left;
	padding: 0 10px;
	width: 25%;
}

.doc_box h5, .doc_box a {
	color: #ffffff;
	text-transform: capitalize;
}

.doc_box a:hover {
	color: #46d6ff;
}

.doc_box a i {
	margin-left: 5px;
}

/*===================================*
16. END WHITEPAPER SECTION
*====================================*/

#google_translate_element {
	position: fixed;
	left: 0;
	bottom: -35px;
	z-index: 10000;
}

.goog-logo-link {
	display: none !important;
}

.goog-te-gadget {
	color: transparent !important;
}

.goog-te-banner {
	background-color: transparent!important;
}

.goog-te-banner-frame.skiptranslate {
	display: none !important;
}

body {
	top: 0px !important;
}

#bg-video {
	position: fixed;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

#home {
	background-color: #000;
}

#how_it_work {
	background: rgb(0, 0, 0);
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7987570028011204) 15%, rgba(0, 0, 0, 0.80) 100%);
}

#overlay {
	background-color: rgba(0, 0, 0, 0.80)!important;
	z-index: 10;
}
.spop--bottom-left{
	bottom: 40px;

}
.spop--bottom-left .spop{
	margin: 0px!important;
}

.spop{
	background-color: #504e4e!important;
	padding: 0px;
	max-width: 250px;
}
.spop h3{
	color: #FFF!important;
}
.spop p{
	color: #FFF!important;
}
.spop-body{

}
.goog-te-combo{
	padding: 10px 0px;
}

.box_inner h2,.box_inner h6{
	color: #FFF!important;
}

.adv-head {
	background-color:#3E3E3E ;
	border-radius: 10px!important;
	text-align: center;
	transition: ease-in-out;
	
}/*
.adv-head[aria-expanded="true"] .box_inner{
	background-color:#3E3E3E ;
	border-bottom-left-radius: 0px!important;
	border-bottom-right-radius: 0px!important;
} */
.adv-desc{
	background-color:#3E3E3E ;
	color: #FFF!important;
}

.advantage:hover{
	cursor: pointer;
}

.advantage .box_inner{
	text-align: center;
	border-radius: 15px;
	background-color:#3E3E3E ;
	color: #FFF!important;
}